<% include partials/header %>
<div class="eventWrapper">
        <p>.</p>

    <div class="eventContainer">
        <div class="row">
            <div class="col-md-4">
                <div class="eventImage">
                    <img src="<%= event.image %>" alt="">
                </div>
                <div class="eventTitle">
                    <h1 class="text-center"><%= event.name %></h1>
                </div>
                <div class="eventAvailability">
                    <h5 class="text-center"><%=event.availability%> bookings available</h3>
                </div>
            </div>
            <div class="col-md-4 midcol">
                <div class="eventDesc">
                    <p><%= event.longDescription %></p>
                </div>
            </div>
            <div class="col-md-4">
                <form action="/booking/<%= event.id%>" class="eventForm text-center" method="POST">
                    <label for="qty">I want to book for </label>
                    <select name="qty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    people
                    <button class="eventBtn text-center">Book!</button>
                </form>
                <div class="eventPrice text-center">
                    <p>($<%= event.price %> per person)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Carrers</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="footer__copyright">
                <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                Copyright &copy; by Team Rocket.
            </p>
        </div>
    </div>
</footer>  
<% include partials/footer %>