<% include partials/header %>
<div class="events">
    <div class="events-header">
        <div>
            <div class="events-image">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <% events.forEach(function(event){ %>
                <div class="card-container col-md-4 col-sm-6">
                        <div class="card">
                            <div class="frontEventsCard" style="background-image: url('<%= event.image %>');">
                                <!-- <div class="cover">
                                    <img src="img/mount.jpg"/>
                                </div> -->
                                <!-- <div class="user">
                                    <img class="img-circle" src="img/sample.png"/>
                                </div> -->
                                <div class="content" style="margin: 30% auto; background-color: rgba(0,0,0,0.7)">
                                    <div class="main">
                                        <h3 class="name" style="color: #fff"><%= event.name %></h3>
                                        <p class="profession" style="color: rgba(255, 255, 255, 0.534)"><%= event.description.substring(0,100) %></p>
               
                                        <p class="text-center" style="color: rgba(255, 255, 255, 0.247)">"Yet another bakuei classic adventure"</p>
                                    </div>
                                    <!-- <div class="footer">
                                        <div class="rating">
                                            <i class="fa fa-mail-forward"></i> Auto Rotation
                                        </div>
                                    </div> -->
                                </div>
                            </div> <!-- end front panel -->
                            <div class="backEventsCard">
                                <div class="header">
                                    <h5 class="motto">More about <%= event.name %></h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">Description</h4>
                                        <p class="text-center"><%= event.longDescription.substring(0,150) %>...<a href="/events/<%= event._id %>">More details</a>
                                        </p>
                                        <div class="stats-container">
                                            <div class="stats">
                                                <h4><%= event.duration %></h4>
                                                <p>
                                                    Days
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4><del>₹<%= event.price*2 %></del><br>₹<%= event.price %></h4>
                                                <p>
                                                    Price
                                                </p>
                                            </div>
                                            <div class="stats">
                                                <h4><%= event.rating %><i class="fas fa-star"></i></h4>
                                                <p>
                                                    Rating
                                                </p>
                                            </div>
                                        </div>
               
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="social-links text-center">
                                        <a href="http://facebook.com" class="facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                                        <a href="http://plus.google.com" class="google"><i class="fab fa-google-plus fa-fw"></i></a>
                                        <a href="http://twitter.com" class="twitter"><i class="fab fa-twitter fa-fw"></i></a>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->
                    <% }); %>
        </div> <!-- end card-container -->

    </div>
</div>
    <script type="text/javascript">
        $().ready(function(){
            $('[rel="tooltip"]').tooltip();
    
        });
    
        function rotateCard(btn){
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if($card.hasClass('hover')){
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }
    </script>
</div>
<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                        <li class="footer__item"><a href="#comehere" class="footer__link">Contact Us!</a></li>
                        <li class="footer__item"><a href="/blog" class="footer__link">Blog</a></li>
                        <li class="footer__item"><a href="/policy" class="footer__link">Privacy policy</a></li>
                        <li class="footer__item"><a href="/terms" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="footer__copyright">
                <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                Copyright &copy; by Team Rocket.
            </p>
        </div>
    </div>
</footer>  
<% include partials/footer %>