<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Bakuei</p>
            <div class="list-group">
                <li class="list-group-item list-group-item-info active">Description</li>
                <li class="list-group-item list-group-item-map">Map</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="big-card">
                <div class="info">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="caption-full" style="padding: 5px 10px">
                    <h4 class="float-right">FREE </h4>
                    <h4><a href="#" class="cgname"><%= campground.name %></a></h4>
                    <p class="cgdesc"><%= campground.description %></p>
                    <hr>
                    <p><em class="cgdesc">Submitted by <%= campground.author.username %></em></p>
                    <% if((currentUser && (currentUser.id==campground.author.id)) || (currentUser && currentUser.isAdmin)){ %>
                    <a class="btn btn-edit" href="/index/<%=campground._id%>/edit">Edit</a>
                    <button type="button" class="btn btn-delete" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>
                    <% } %>
      <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    This will delete the post. Continue?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-edit" data-dismiss="modal">Cancel</button>
                                    <form action="/index/<%=campground._id%>/delete?_method=DELETE" method="POST" style="display: inline">
                                        <button class="btn btn-delete" href="#" >Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!--MAP-->
            <div class="map back heybro">
                <div id="map"></div>
            </div>

        </div>
        </div>


    </div>
</div>

<hr>
<div class="container">
    <div class="row">
        <span id="comments"></span>
        <% if(currentUser){ %>
            <div class="col-md-3">
                <form action="/index/<%= campground._id %>/newComment" method="POST">
                    <!-- <div class="form-group">
                    <input type="text" class="form-control" placeholder="username" name="comment[author]" required>
                    </div> -->
                    <div class="form-group">
                        <textarea name="comment[text]" class ="form-control comment-box" placeholder = "write your thoughts" cols="30" rows="5" required></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-submit btn-block">Submit</button>
                    </div>
                </form>
            </div>
        <% }else{ %>
            <div class="col-md-3">
                <div class="card comment-box">
                    <div class="card-header">
                        <p><a href="/login">Login</a> or <a href="/register">Register</a> to post a comment.</p>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="col-md-9">
            <% campground.comments.forEach(function(comment){ %>
                <!-- <p class="list-group-item" style="padding: 5px 5px;"><em><%= comment.author %> </em>says -<br><%= comment.text %></p> -->
                <div class="card comment-box" style="margin-bottom: 15px">
                    <div class="card-header comment-card-header">
                        <p style="margin: 0"><em><%= comment.author.username %> </em>says -<span class="float-right">(<%= comment.created.toDateString() %>)</span></p>
                    </div>
                    <div class="card-body">
                        <div class="card-text edit-area">
                            <p><%= comment.text %></p>
                        </div>
                    </div>
                    <% if(currentUser&&(currentUser.id==comment.author.id) || (currentUser && currentUser.isAdmin)){ %>
                        <div class="card-footer">
                            <a class="btn btn-edit" id="comment-edit" href="/index/<%= campground.id %>/<%= comment.id %>/edit">Edit</a>
                            <form action="/index/<%=campground._id%>/<%=comment._id%>?_method=DELETE" method="POST" style="display: inline">
                                <button class="btn btn-delete" href="#" >Delete</button>
                            </form>
                        </div>
                    <% }%>
                </div>
                <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                        <form action="/index/<%=campground._id%>/<%=comment._id%>?_method=PUT" method="POST" style="display: inline">
                                            <textarea name="comment[text]" style="width:100%" placeholder="Whoa you found the placeholder text dude!"><%=comment.text%></textarea>
                                            <br>
                                            <button class="btn btn-primary btn-xs">Submit</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="display: inline">Cancel</button>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <form action="/index/<%=campground._id%>/delete?_method=DELETE" method="POST" style="display: inline">
                                        <button class="btn btn-danger" href="#" >Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
        function initMap() {
            alert("hobba");

      var mapProp= {
          center:new google.maps.LatLng(<%= campground.lat %>,<%= campground.long %>),
          zoom:20,
      };
      var mrk = {lat: <%= campground.lat %>, lng: <%= campground.long %>};
      var marker = new google.maps.Marker({position: mrk, map: map});
      var map=new google.maps.Map(document.getElementById("map"),mapProp);
      }
    
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU756sWMN8Onzej1OPJSCqlwHGi6QYHnQ&callback=initMap">
</script>
<footer class="footer">
    <div class="row">
        <div class="col-lg-6">
            <div class="footer__navigation">
                <ul class="footer__list">
                        <li class="footer__item"><a href="#comehere" class="footer__link">Contact Us!</a></li>
                        <li class="footer__item"><a href="/blog" class="footer__link">Blog</a></li>
                        <li class="footer__item"><a href="/policy" class="footer__link">Privacy policy</a></li>
                        <li class="footer__item"><a href="/terms" class="footer__link">Terms</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="footer__copyright">
                <a href="#" class="footer__link">Bakuei.</a> Built with 💖 in Jaipur by <a href="#" class="footer__link"> Team Rocket</a>.
                Copyright &copy; by Team Rocket.
            </p>
        </div>
    </div>
</footer>  





<% include partials/footer %>
